@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialliased;
    -moz-osx-font-smoothing: grayscale;
}

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #e5345b;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-count {
    vertical-align: top;
    margin-left: -10px;
}

.kartu-categories:hover {
    transform: scale(1.1);
    transition: all ease .3s;
}